/* This file is for your main application css. */
/* @import "./phoenix.css"; */

.container {
  /*width: 80%;*/
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}


.title {
  display: flex;
}
.form {
  display: flex;
}

